ALTER TABLE public.reviews DROP CONSTRAINT IF EXISTS reviews_order_id_fkey; ALTER TABLE public.reviews DROP CONSTRAINT IF EXISTS reviews_product_id_fkey; ALTER TABLE public.reviews DROP CONSTRAINT IF EXISTS reviews_seller_id_fkey; ALTER TABLE public.reviews ALTER COLUMN order_id TYPE TEXT; ALTER TABLE public.reviews ALTER COLUMN product_id TYPE TEXT; ALTER TABLE public.reviews ALTER COLUMN seller_id TYPE TEXT; ALTER TABLE public.shipments DROP CONSTRAINT IF EXISTS shipments_order_id_fkey; ALTER TABLE public.shipments ALTER COLUMN order_id TYPE TEXT;
